<div class="floating-tab" *ngIf="isVisible" [@fadeIn] (click)="closeTab()">
    <div class="floating-tab-content" (click)="onContentClick($event)">
        <h3>{{proyectTitle}}</h3>
        <img [attr.src]="img" alt="muestra" class="imagen1">
        <p>{{description}}</p>
        <div class="content">
            <div class="front">
                <h5>
                    Frontend
                </h5>
                <p>{{frontend}}</p>
                <a [attr.href]="linkFront" target="_blank">Ver en Github</a>
            </div>
            <div class="back">
                <h5>
                    Backend
                </h5>
                <p>{{backend}}</p>
                <a [attr.href]="linkBack" target="_blank">Ver en Github</a>
            </div>
        </div>
    </div>
    
  </div>
