h1 {
    cursor: pointer;
    font-family: 'Space Mono',monospace;
    color: white;
    font-size: 45px;
  }
  
  
  @media (max-width: 480px) {
    h1 {
      cursor: pointer;
      font-family: 'Space Mono',monospace;
      color: white;
      font-size: 35px;
    }
  
  }