
.cuerpo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.pie {
    border-radius: 0 0 15px 15px;
    text-align: center;
    color: #3caddd;
}

.pie a {
    text-decoration: none;
    transition: font 0.15s ease;
}

.pie a:hover{
    font-size: 25px;
}

.pie a:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.imagen1 {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.imagen2 {
    width: 75%;
    height: auto;
    border-radius: 8px;
}
.imagenDiv {
    display: flex;
    justify-content: center;
  }

.container {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}

.cont1 {
    position: fixed;
}

.sub {
    font-size: 14px;
    color: #f0a500;
    text-transform: uppercase;
    font-weight: bold;
}

.Subtitulo {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    color: #f0a500;
    text-transform: uppercase;
    font-weight: bold;
    scroll-behavior: smooth;
    transition: font-size 0.15s ease;
}

.Subtitulo:hover {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
}

li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 30px;
    height: 1px;
    background-color: #99b3cc;
    transform: translateY(-50%);
}

h1 {
    font-size: 55px;
    color: #f1f3f5;
    font-family: "Space Mono", monospace;
}

h2 {
    font-size: 20px;
    color: #f0a500;
}

h4 {
    font-size: 16px;
    color: #99b3cc;
}

h5 {
    color: #f1f3f5;
    margin: 0%;
    margin-top: 10px;
}

p {
    word-spacing: 5px;
    line-height: 1.5;
}

a {
    color: #3caddd;
}

.social {
    vertical-align: bottom;
    position: fixed;
    bottom: 95px;
    font-size: 35px;
}

.icono {
    transition: font-size 0.15s ease;
    margin-right: 20px;
}

.icono:hover {
    font-size: 50px;
}

/* Tarjeta */
.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #161a27;
    box-shadow: 2px 2px 8px 4px #161a27;
    border-radius: 15px;
    font-family: sans-serif;
    background-color: #161a27;
    margin-top: 30px;
    transition: all 0.15s ease;
    align-items: center;
}

.tarjeta:hover{
    padding: 10px;
    border: 1px solid #0d2530;
    box-shadow: 2px 2px 8px 4px #0d2530;
    background-color: #0d2530;
}

.titulo {
    font-size: 24px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}



@media (max-width: 800px) {
    .container {
        display: block;
    }
    .cuerpo {
        display: block;
    }
    .cont1 {
        position:relative;
    }
    .social {
        vertical-align:auto;
        position:relative;
        bottom: auto;
        font-size: 35px;
    }
  
  }