<app-cursor-light></app-cursor-light>
<div class="container">
  <div class="elements">
    <div class="cont1">
      <app-hover-effect></app-hover-effect>
      <h2>Desarrollador Full-Stack</h2>
      <h4>
        <p>Páginas web utilizando Angular.<br>
          También desarrollo software y <br>aplicaciónes de escritorio con Java.</p>
      </h4>
      <div class="sub">
        <ul>
          <li><a class="Subtitulo" href="#about">Sobre mí</a></li>
          <li><a class="Subtitulo" href="#proyects">Proyectos</a></li>
        </ul>
      </div>
    </div>
    <div class="social">
      <a class="icono" href="https://www.instagram.com/calinn_507/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a class="icono" href="https://www.linkedin.com/in/carlos-alberto-l%C3%B3pez-p%C3%A9rez-060ba1279/"
        target="_blank"><i class="bi bi-linkedin"></i></a>
      <a class="icono" href="#" target="_blank"><i class="bi bi-youtube"></i></a>
      <a class="icono" href="https://github.com/CalinnHC" target="_blank"><i class="bi bi-github"></i></a>
    </div>
  </div>
  <div class="elements">
    <h2 class="about" id="about"> Sobre mí</h2>
    <h4>
      <p>Soy estudiante de cuarto año de la Licenciatura en Ingeniería Informática en la Universidad de Panamá.
        Mi interés por la programación comenzó hace más de cinco años, lo que me llevó a estudiar de manera
        autodidacta en 2020. Esta preparación me permitió ingresar a la carrera de Ingeniería Informática en
        2021 con una base sólida en conceptos fundamentales.</p>
      <p>Realmente mi pasión por la tecnología y la
        resolución de problemas ha sido una constante en mi desarrollo profesional.</p>
      <p>Me especializo en el
        desarrollo web Full-Stack, con una predilección por el backend, y disfruto trabajando en proyectos que me
        desafían a mejorar mis habilidades y conocimientos.</p>
    </h4>

    <h2 class="proyects" id="proyects">Proyectos</h2>
      <div class="tarjeta">
        <div class="cuerpo">
          <div class="imagenDiv">
            <img src="bankProyect.png" alt="muestra" class="imagen1">
          </div>
          <div class="titulo">
            <h5>ATM</h5>
            <h4>Proyecto de Programación de la Universidad de Panamá</h4>
            <div class="pie">
              <a href="" target="_blank" (click)="showTab(1,$event)">Ver Proyecto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tarjeta">
        <div class="cuerpo">
          <div class="imagenDiv">
            <img src="Naviera.png" alt="muestra" class="imagen1">
          </div>
          <div class="titulo">
            <h5>Naviera Web</h5>
            <h4>Se conecta a una base de datos Oracle, a través de la página se pueden registrar nuevos usuarios.</h4>
            <div class="pie">
              <a href="" target="_blank" (click)="showTab(2,$event)">Ver Proyecto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tarjeta">
        <div class="cuerpo">
          <div class="imagenDiv">
            <img src="uppe.jpeg" alt="muestra" class="imagen2">
          </div>
          <div class="titulo">
            <h5>UPPE</h5>
            <h4>Sistema para Gestión de Proyectos de Extensión de la Universidad de Panamá</h4>
            <div class="pie">
              <a href="" target="_blank" (click)="showTab(3,$event)">Ver Proyecto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tarjeta">
        <div class="cuerpo">
          <div class="imagenDiv">
            <img src="portfolio.png" alt="muestra" class="imagen1">
          </div>
          <div class="titulo">
            <h5>Portfolio</h5>
            <h4>Portfolio de Programador, hecho con Angular</h4>
            <div class="pie">
              <a href="https://github.com/CalinnHC/Front-ClienteSistema" (click)="showTab(4,$event)" target="_blank">Ver Proyecto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-floating-tab></app-floating-tab>