html{
    scroll-behavior: smooth;
}
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    margin: 0 auto;
    padding-top: 2.8%;
    padding-bottom: 2.8%;
    background-color: #161a27;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 1100px) {
    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 2.8%;
        padding-bottom: 2.8%;
        background-color: #161a27;
        width: 90%;
    }
  }
